!!! 5
html(lang="en")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript', src='/javascripts/jquery-1.5.2.min.js')
        script(type="text/javascript", charset="utf-8", src="http://ajax.googleapis.com/ajax/libs/swfobject/2.1/swfobject.js")
        script(type="text/javascript", charset="utf-8", src="/javascripts/jquery.tubular.js")
        script(type="text/javascript")
            $().ready(function() {
                $('body').tubular('CD2LRROpph0','wrapper'); // where someYTid is the YouTube ID and wrapper is your containing DIV.
                setTimeout(function() { ytplayer.unMute();}, 500);
            });
    body.video
         script(type="text/javascript")
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-10091458-2']);
              _gaq.push(['_trackPageview']);
              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();