!!! 5
html(lang="en")
    head
        title= title
        script(type='text/javascript', src='/javascripts/jquery-1.5.2.min.js')
        script(type="text/javascript", charset="utf-8", src="http://ajax.googleapis.com/ajax/libs/swfobject/2.1/swfobject.js")
        script(type="text/javascript", charset="utf-8", src="/javascripts/jquery.tubular.js")
        script(type="text/javascript")
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-10091458-2']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
    body
        img(src='/manhead48.png', class='logoimg')
        h1 ALOLO.CO
           
        h2 Welcome!
        p I like quantifying and displaying systems and their behaviour, so as to find ways to help people
          better understand and take action upon them.


        h3 Here are some of the things i've made:
        ul
         li A 
            a(href='/loopit/j43ykaBZ-wc') youtube looper
            . Just replace the the youtube video id by your favorite one.
            small (the link is to one of the visualisations i've done for
               a(href='/skyscanner.net') skyscanner)
         li See my 
            a(href='/wishes') birthday wishes







        
        a(href='twitter.com/radiodario', style="text-align:center;margin-top:300px")
           @radiodario
           img(src='/tweetbtn.png')