body.video {
  padding: 0px;
  margin: 0px ;}

img.logoimg {
  float: left;
  margin-right: 10px;
  margin-top: 7px;}

h1 {
  background-color: rgba(255,255,255,0.5);
  border: 3px solid black;}

body {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;}

a {
  color: #00B7FF;}

.image {
  float: left;
  margin-right: 10px;
  height: 50px;
  width: 50px;}

li {
  height: 50px;
  margin-bottom: 1px;
  display: block;}

div#map {
  z-index: -1;
  width: 1200px;
  height: 600px;}

div#map  {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;}

div.canvas {
  position: absolute;}

div#wishes {
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  padding-top: 25px;
  top: 100px;
  width: 800px;
  left: 60px;}

img.speechbubble {
  position: absolute;
  top: 0px;
  left: 95px;}

h1.video {
  font-size: : 6em;}

#timeCont {
  margin-left: 300px;}

div#container {
  position: :absolute;
  top: 0;
  with: 1000px;
  z-index: 500;}
